* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 16px;
    margin: 10px 0;
}

p{
    margin-top: 10px;
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}


.container {
    width: 350px;
    /* margin: 0 auto; */
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 5px 9px rgba(0,0,0,0.75);
}

.tag {
    width: 90px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: hsl(47, 88%, 63%);
}

.published {
    font-weight: 300;
    color: hsl(0, 0%, 42%);
}

.container > img  {
    width: 100%;
    border-radius: 10px;
}

.flex-container {
    margin-top: 20px;
    /* width: 90px; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.flex-container > img{
    width: 10%;
}