* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 16px;
}

.container {
    width: 350px;
    /* margin: 0 auto; */
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.container > img  {
    width: 100%;
}

.flex-container {
    margin-top: 20px;
    /* width: 90px; */
    display: flex;
    align-items: center;
    gap: 15px;
}

.flex-container > img{
    width: 10%;
}