* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
}

p{
    font-size: 16px;
}